<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% if page.layout == 'home' %} {{ site.title }} { % else %} {{ page.title |
    default: site.title }} {% endif %}
  </title>
  <meta property="og:image" content="{{ site.url }}/photos/montage.jpg" />
  <meta charset="utf-8" />

  <meta
    name="keywords"
    content="FARMAN sua Farmácia Online 24 horas. Medicamentos, remédios genéricos, dermocosméticos, 
itens de cuidado diário, produtos para crianças e muito mais"
  />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <link
    rel="stylesheet"
    href="https://unpkg.com/linearicons@1.0.2/dist/web-font/style.css"
  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <!-- 
   MADE BY NETJAPA
  -->
</head>
