
               <div class="tm-container container ">
                  <div class="tm-inner">
                     <div class="row row-level-1 ">
                        <div class="row-inner  clearfix">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                              <div class="col-inner ">
                     


                                 <div class="box single-category">
                                    <div class="box-heading">
                                       <div class="row">
                                          <div class="col-xs-12 col-md-3">
                                             <h2>Beleza</h2>
                                          </div>
                                          <div class="col-xs-12 col-md-9 align-right">
                                             <ul class="nav nav-tabs" role="tablist" id="module-single-tabs-0">
                                                <li class="active">
                                                   <a href="#tab-single-latest-0" role="tab" data-toggle="tab" data-single-nav-id="nav_single-latest-0" aria-expanded="true">
                                                  Novos
                                                   </a>
                                                </li>
                                                <li>
                                                   <a href="#tab-single-special-0" role="tab" data-toggle="tab" data-single-nav-id="nav_single-special-0">
                                                   Ofertas
                                                   </a>
                                                </li>
                                           
                                                <li>
                                                   <a href="#tab-single-bestseller-0" role="tab" data-toggle="tab" data-single-nav-id="nav_single-bestseller-0">
                                                   Mais Vendidos
                                                   </a>
                                                </li>
                                             </ul>
                                          </div>
                                          <div>
                                             <div id="nav_single-featured-0" class="hidden">
                                             </div>
                                             <div id="nav_single-latest-0" class="">
                                             </div>
                                             <div id="nav_single-special-0" class="hidden">
                                             </div>
                                             <div id="nav_single-bestseller-0" class="hidden">
                                             </div>
                                          </div>
                                       </div>
                                    </div>









                                    <div class="box-content">
                                       <div role="tabpanel" class="module_tab" id="single-category0">
                                          <div class="tab-content">
                                             <div role="tabpanel" class="tab-pane" id="tab-single-featured-0">
                                                <div class="box clearfix">
                                                   <div class="row">
                                                    
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                      













                                                         </div>
                                                      </div>



                                          
                                                 
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane active" id="tab-single-latest-0">
                                                <div class="box clearfix">
                                                   <div class="row">
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                           
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Bounty Biotin" title="Bounty Biotin" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-19-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-19-318x402.png">
                                                               <img width="318" height="402" alt="Bounty Biotin" title="Bounty Biotin" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-21-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-21-318x402.png">
                                                               </a>
                                                           
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Remedio</a></h4>
                                                               
                                                                  <p class="price">
                                                                     R$100,00
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),48);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao carrinho</span></button>
                                                              
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                       
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Himalaya Herbal Healthcare" title="Himalaya Herbal Healthcare" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-11-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-11-318x402.png">
                                                               <img width="318" height="402" alt="Himalaya Herbal Healthcare" title="Himalaya Herbal Healthcare" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-12-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-12-318x402.png">
                                                               </a>
                                                            
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Himalaya Herbal Healthcare</a></h4>
                                                           
                                                                  <p class="price">
                                                                     <span class="price-new">$60.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),47);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                            
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                         
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Factors Vitamin" title="Factors Vitamin" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-37-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-37-318x402.png">
                                                               <img width="318" height="402" alt="Factors Vitamin" title="Factors Vitamin" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-38-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-38-318x402.png">
                                                               </a>
                                                       
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Factors Vitamin</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$150.00</span> <span class="price-old">$200.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),45);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                             
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                     
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Defend Cough and Cold" title="Defend Cough and Cold" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-34-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-34-318x402.png">
                                                               <img width="318" height="402" alt="Defend Cough and Cold" title="Defend Cough and Cold" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-36-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-36-318x402.png">
                                                               </a>
                                                        
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Defend Cough and Cold</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$1,000.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),44);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                            
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                        
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Nexium 24HR" title="Nexium 24HR" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-31-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-31-318x402.png">
                                                               <img width="318" height="402" alt="Nexium 24HR" title="Nexium 24HR" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-33-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-33-318x402.png">
                                                               </a>
                                                         
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Nexium 24HR</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$400.00</span> <span class="price-old">$500.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),43);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                          
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition ">
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-24-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-24-318x402.png">
                                                               </a>
                                                       
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Muscle Pharm</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="cart.add('42');"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                         
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                            
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Inulin Fiber Prebiotic" title="Inulin Fiber Prebiotic" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-16-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-16-318x402.png">
                                                               <img width="318" height="402" alt="Inulin Fiber Prebiotic" title="Inulin Fiber Prebiotic" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-18-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-18-318x402.png">
                                                               </a>
                                                           
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Inulin Fiber Prebiotic</a></h4>
                                                                  <p class="price">
                                                                     $101.00
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),40);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                             
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                           
                                                            <div class="image">                       
                                                               <a class="lazy lazy-loaded" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Sundown Naturals" title="Sundown Naturals" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-23-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-23-318x402.png">
                                                               <img width="318" height="402" alt="Sundown Naturals" title="Sundown Naturals" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png" src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png">
                                                               </a>
                                                               <button class="product-btn quickview" type="button" data-rel="details" data-product="36" data-toggle="tooltip" title="" data-original-title="Quick View"><i class="linearicons-eye"></i></button>
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/product&amp;product_id=36">Sundown Naturals</a></h4>
                                                            
                                                                  <p class="price">
                                                                     $100.00
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),36);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                              
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>

















                                             <div role="tabpanel" class="tab-pane" id="tab-single-special-0">
                                                <div class="box clearfix">
                                                   <div class="row">
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition ">
                                                            <div class="image">                       
                                                               <a class="lazy" href="/">
                                                               <img width="318" height="402" alt="Best Colon Detox Formula" title="Best Colon Detox Formula" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-52-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Best Colon Detox Formula" title="Best Colon Detox Formula" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-53-318x402.png" src="#">
                                                               </a>
                                                        
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Best Colon Detox Formula</a></h4>
                                                      
                                                                  <p class="price">
                                                                     <span class="price-new">$150.00</span> <span class="price-old">$200.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),33);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                         
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                           
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Defend Cough and Cold" title="Defend Cough and Cold" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-34-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Defend Cough and Cold" title="Defend Cough and Cold" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-36-318x402.png" src="#">
                                                               </a>
                                                               <button class="product-btn quickview" type="button" data-rel="details" data-product="44" data-toggle="tooltip" title="" data-original-title="Quick View"><i class="linearicons-eye"></i></button>
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/product&amp;product_id=44">Defend Cough and Cold</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$1,000.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),44);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                              
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                            
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Factors Vitamin" title="Factors Vitamin" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-37-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Factors Vitamin" title="Factors Vitamin" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-38-318x402.png" src="#">
                                                               </a>
                                                          
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Factors Vitamin</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$150.00</span> <span class="price-old">$200.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),45);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                              
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                         
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Garden of Life RAW Enzymes" title="Garden of Life RAW Enzymes" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-10-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Garden of Life RAW Enzymes" title="Garden of Life RAW Enzymes" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-12-318x402.png" src="#">
                                                               </a>
                                                           
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Garden of Life RAW Enzymes</a></h4>
                                                             
                                                                  <p class="price">
                                                                     <span class="price-new">$80.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),28);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                           
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                         
                                                            </div>
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Himalaya Herbal Healthcare" title="Himalaya Herbal Healthcare" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-11-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Himalaya Herbal Healthcare" title="Himalaya Herbal Healthcare" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-12-318x402.png" src="#">
                                                               </a>
                                                          
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Himalaya Herbal Healthcare</a></h4>
                                                         
                                                                  <p class="price">
                                                                     <span class="price-new">$60.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),47);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                      
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition ">
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-24-318x402.png" src="#">
                                                               </a>
                                                        
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Muscle Pharm</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="cart.add('42');"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                               
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                           
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Natrol Biotin" title="Natrol Biotin" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-28-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Natrol Biotin" title="Natrol Biotin" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-29-318x402.png" src="#">
                                                               </a>
                                                      
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Natrol Biotin</a></h4>
                                                           
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),32);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                         
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                           
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Nexium 24HR" title="Nexium 24HR" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-31-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Nexium 24HR" title="Nexium 24HR" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-33-318x402.png" src="#">
                                                               </a>
                                                       
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Nexium 24HR</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$400.00</span> <span class="price-old">$500.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),43);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                           
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div role="tabpanel" class="tab-pane" id="tab-single-bestseller-0">
                                                <div class="box clearfix">
                                                   <div class="row">
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition ">
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Best Colon Detox Formula" title="Best Colon Detox Formula" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-52-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Best Colon Detox Formula" title="Best Colon Detox Formula" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-53-318x402.png" src="#">
                                                               </a>
                                                
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Best Colon Detox Formula</a></h4>
                                                 
                                                                  <p class="price">
                                                                     <span class="price-new">$150.00</span> <span class="price-old">$200.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),33);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                        
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                         
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Inulin Fiber Prebiotic" title="Inulin Fiber Prebiotic" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-16-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Inulin Fiber Prebiotic" title="Inulin Fiber Prebiotic" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-18-318x402.png" src="#">
                                                               </a>
                                                             
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Inulin Fiber Prebiotic</a></h4>
                                                                  <p class="price">
                                                                     $101.00
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),40);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                           
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition ">
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Muscle Pharm" title="Muscle Pharm" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-24-318x402.png" src="#">
                                                               </a>
                                                           
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Muscle Pharm</a></h4>
                                                                  <p class="price">
                                                                     <span class="price-new">$90.00</span> <span class="price-old">$100.00</span>
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="cart.add('42');"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                         
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                         <div class="product-thumb transition  options ">
                                                          
                                                            <div class="image">                       
                                                               <a class="lazy" href="/" style="padding-bottom: 126.41509433962%">
                                                               <img width="318" height="402" alt="Sundown Naturals" title="Sundown Naturals" class="img-primary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-23-318x402.png" src="#">
                                                               <img width="318" height="402" alt="Sundown Naturals" title="Sundown Naturals" class="img-secondary" data-src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/products/product-22-318x402.png" src="#">
                                                               </a>
                                                       
                                                            </div>
                                                            <div class="content">
                                                               <div class="caption ">
                                                                  <h4 class="name"><a href="/">Sundown Naturals</a></h4>
                                                          
                                                                  <p class="price">
                                                                     $100.00
                                                                  </p>
                                                                  <button type="button" class="btn" onclick="ajaxAdd($(this),36);"><i class="linearicons-cart hidden-sm hidden-xs"></i><span>Adicionar ao Carrinho</span></button>
                                                    
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
















               
          