<!-- Bootstrap core JavaScript -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 


<script src="{{ site.baseurl }}/assets/js/device.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/livesearch.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/common.js"></script>

<script src="{{ site.baseurl }}/assets/js/script.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.easing.1.3.js"></script>


<script src="{{ site.baseurl }}/assets/js/jquery.matchHeight.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.unveil.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/jquery.ui.totop.min.js"></script>



<script  src="{{ site.baseurl }}/assets/js/scrollfix.min.js"></script>


<script   src="{{ site.baseurl }}/assets/js/jquery.selectbox-0.2.min.js"></script>


<script  src="{{ site.baseurl }}/assets/js/fancybox/jquery.fancybox.js"></script>


<script src="{{ site.baseurl }}/assets/js/moment.min.js"></script>

<script src="{{ site.baseurl }}/assets/js/bootstrap-datetimepicker.min.js" class="__web-inspector-hide-shortcut__"></script>