<!DOCTYPE html>
<html>
   {% seo %}
   {% include head.html %}
   <body>
     {% include header.html %}
      <div id="page" class="common-home">
         <div id="page-preloader" class="">
            <div class="preloader"></div>
         </div>
  
       





























         <section class="top">
            <div class="homebuilder clearfix ">





               <div class="tm-container container ">
                  <div class="tm-inner">
                     <div class="row row-level-1 ">
                        <div class="row-inner  clearfix">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="col-inner banners-block-one">
                                 <div id="banner0" class="banners row">
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-1">
                                          <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-1-680x625.jpg" alt="banner-1" class="img-responsive"></div>
                                          <div class="s-desc">
                                             <h3>É hora de proteger a família da gripe.</h3>
                                             <h5>Ganhe um desconto extra de 10% em seu primeiro pedido</h5>

                                             <p>Nossos preços baixos diários superam a concorrencia o tempo todo. </p>
                                           
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="col-inner banners-block-two">
                                 <div id="banner1" class="banners row">
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-2">
                                          <a class="clearfix" href="/products">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-2-680x298.jpg" alt="banner-2" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h3>Tosse </h3>
                                                <h4>Resfriado &amp; Gripe</h4>
                                                <h2>Alívio</h2>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="banner2" class="banners row">
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-two-1">
                                          <a class="clearfix" href="/products">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-3-320x298.jpg" alt="banner-two-1" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h4>Aromaterapia</h4>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-two-2">
                                          <a class="clearfix" href="/">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-4-320x298.jpg" alt="banner-two-2" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h4>Vitaminas</h4>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tm-container ">
                  <div class="tm-inner">
                     <div class="row row-level-1 ">
                        <div class="row-inner bg-color1 clearfix">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                              <div class="col-inner banners-block-three container">
                                 <div id="banner3" class="banners row">
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-three-1">
                                          <a class="clearfix" href="/">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-5-440x343.jpg" alt="banner-three-1" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h3>Venda de temporada!</h3>
                                                <h5>Economize 20% em todos os itens</h5>
                                                <p>*Cuidados com o bebê</p>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-three-2">
                                          <a class="clearfix" href="/">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-6-440x343.jpg" alt="banner-three-2" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h3>Se apresse!</h3>
                                                <h5>Compre 2 itens - ganhe 1 de graça</h5>
                                                <p>*Somente atendimento médico domiciliar</p>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                    <div class="banner-box col-sm-12">
                                       <div class="banner-three-3">
                                          <a class="clearfix" href="/">
                                             <div class="banner_img"><img src="https://livedemo00-opencart.template-help.com/opencart_prod-21169/image/cache/catalog/banners/banner-7-440x343.jpg" alt="banner-three-3" class="img-responsive"></div>
                                             <div class="s-desc">
                                                <h3>Oferta especial!</h3>
                                                <h5>compre um ganhe um</h5>
                                                <p>*Apenas vitaminas e Suplemento</p>
                                             </div>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>










































































  {% include products.html %}





 {% include products2.html %}























































































































































            </div>
         </section>


















         <div id="common-home" class="container">
            <div class="row">
               <div id="content" class="col-sm-12">
               </div>
            </div>
         </div>







 {% include footer.html %}






         <div class="ajax-overlay"></div>
         <div class="ajax-quickview-overlay">
            <span class="ajax-quickview-overlay__preloader"></span>
         </div>
      </div>
   



      <div class="rd-mobilemenu">
         <ul class="rd-mobilemenu_ul">
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=33" data-letters="Baby &amp; Child"><span>Baby &amp; Child</span></a></li>
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=25" data-letters="Sexual health"><span>Sexual health</span></a></li>
            <li>
               <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=20" data-letters="Home medicine" class="rd-with-ul"><span>Home medicine</span><span class="rd-submenu-toggle"></span></a>
               <ul class="rd-mobilemenu_submenu" style="display: none;">
                  <li class="sf-mega_row">
                     <div class="sf-mega_section" style="width: 33.3%">
                        <ul>
                           <li class="submenu_title">
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=29">Garden of Life</a>
                           </li>
                           <li>
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=32">Nature Made</a>
                           </li>
                           <li>
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=30">Sundown Naturals</a>
                           </li>
                        </ul>
                     </div>
                     <div class="sf-mega_section" style="width: 33.3%">
                        <ul>
                           <li class="submenu_title">
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=35">Sexual Health</a>
                           </li>
                           <li>
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=42">Personal Care</a>
                           </li>
                           <li>
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=37">Shop By Brand</a>
                           </li>
                        </ul>
                     </div>
                     <div class="sf-mega_section" style="width: 33.3%">
                        <ul>
                           <li class="submenu_title">
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=41">Shopping Aisles</a>
                           </li>
                           <li>
                              <a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=40">Exclusives</a>
                           </li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </li>
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=18" data-letters="Diet &amp; Nutrition"><span>Diet &amp; Nutrition</span></a></li>
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=34" data-letters="Personal care"><span>Personal care</span></a></li>
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=38" data-letters="Beauty"><span>Beauty</span></a></li>
            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-21169/index.php?route=product/category&amp;path=39" data-letters="Fitness &amp; vitamins"><span>Fitness &amp; vitamins</span></a></li>
         </ul>
      </div>
      <div class="rd-mobilepanel">
         <button class="rd-mobilepanel_toggle"><span></span></button>
         <h2 class="rd-mobilepanel_title">FARMAM</h2>
      </div>
      <a href="#" id="ui-to-top" class="ui-to-top linearicons-exit-up2"></a>












         {% include script.html %}
   </body>
</html>